body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: white;
    overflow-x: hidden;
}

.onboarding {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #121212;
    z-index: 1;
    position: relative;
}

.main-title {
    font-size: 7rem;
    font-weight: 300;
    opacity: 0.8;
    transition: transform 1s ease-in-out, font-size 1s ease-in-out;
}

.scroll-content {
    padding-top: 100vh;
    text-align: center;
}

.scroll-title {
    font-size: 5rem;
    font-weight: 700;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.info {
    margin: 20px 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.info-top-left,
.info-top-right,
.info-bottom-left,
.info-bottom-right {
    font-size: 1.2rem;
}

.image-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.image-container {
    text-align: center;
}

.gallery-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.image-caption {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
